/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
///
///

@import "/src/global-styles/styles/root.scss";

#home-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.song-preview-card {
  width: 100%;
  height: 100%;
  max-width: 413px;
  max-height: 607px;
  margin: 50px 16px;
  padding: 16px;
  background-color: $primary-color-500;
  color: #FFF;
  border-radius: $rounding-1;

      &__image-container {
        width: 100%;
        height: 381px;
        border-radius: $rounding-2;
        overflow: hidden;
      }

          &__image {
            box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
            scale: 1.1;
          }

      &__content {
        margin-top: 12px;
        padding: 16px;
      }

          &__title {
            font-size: $font-size-1;
            font-weight: $semibold;
            font-weight: bold;
          }

          &__artist-and-time {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 0 24px 0;
            font-size: $font-size-2;
            letter-spacing: $letter-spacing;
            border-bottom: 1.5px solid $primary-color-100;
          }
      
              &__time {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px;
                gap: 8px;
              }
          
                  &__time-icon-container {
                    width: 20px;
                    height: 20px;
                  }

                  &__time-text {
                    width: 36px;
                    height: 25px;
                    line-height: 25px;
                    text-align: right;
                  }

          &__album-cover-and-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin: 24px 0;
          }

              &__album-cover-image {
                border-radius: $circle;
              }

              &__album-info-container {
                display: flex;
                justify-content: space-between;
                padding: 0px;
                gap: 8px;
                font-size: $font-size-2;
                letter-spacing: $letter-spacing;
                line-height: 25px;
              }
                  &__album-info-dot-spacer {
                      color: $primary-color-100;
                  }
}

@media (max-width: 375px) {
  .song-preview-card__image-container {
    height: 311px;
  }
}
